html, body {
	margin: 0;
	padding: 0;
	background-color: #EFEFF4;
	color: black;
	font-family: sans-serif;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

p, li, a {
	font-size: 1.062em;
}


.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
}

.cardview {
	border-radius: 14px;
	height: 800px;
	width: 600px;
	margin-left: -330px;
	margin-top: -430px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, .25);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .25);
    padding: 20px;
    z-index: 1;
    background: white;
}

hr {
	height: 1px;
	background-color: #CECED2;
	border: none;
}

.footer {
	position: absolute;
	bottom: 16px;
}

.containerImages {
	justify-content: center;
	display: inline-flex;
	flex-wrap: wrap;
	width: 600px;
	height: 270px;
}

.imageContainer {
	width: 120px;
	height: 120px;
	margin: 10px;
	border-radius: 14px;
	overflow: hidden;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .25);
    -webkit-transition: .8s cubic-bezier(.2, 1, .2, 1);
    -o-transition: .8s cubic-bezier(.2, 1, .2, 1);
    transition: .8s cubic-bezier(.2, 1, .2, 1)
}

.imageContainer:hover {
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5)
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.imageDiv {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 95px;
	border-radius: 14px;
}

#iot {
	background-image: url('images/iot.jpeg');
}

#automation {
	background-image: url('images/automation.jpeg');
}

#clean {
	background-image: url('images/cleanenergy.jpeg');
}

#social {
	background-image: url('images/sb.jpeg');
}

#smart {
	background-image: url(images/smart.jpeg);
}

#medical {
	background-image: url(images/medical.jpeg);
}

#frugal {
	background-image: url(images/frugal.jpeg);
}

.text {
	color: #8e8e93;
	font-size: 11px;
	text-align: center;
	bottom: 2px;
	position: relative;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {

	body {
		overflow: hidden;
	}

	.cardview {
		height: 700px;
		width: 600px;
		margin-left: -320px;
		margin-top: -370px;
	}

}


@media screen and (min-width: 800px) and (max-width: 1200px) {

	.cardview {
		height: 800px;
		width: 600px;
		margin-left: -320px;
		margin-top: -270px;
		margin-bottom: 40px;
		position: absolute;
	}

	body {
		height: 900px;
	}

}

@media only screen and (max-width: 480px) {

	.cardview {
		width: 390px;
		margin-left: 0;
		margin-top: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-box-shadow: none;
    	box-shadow: none;
	}

	html, body {
		background-color: white;
	}

}

@media only screen and (max-width: 320px) {

	body {
		height: 1420px;
	}

	.cardview {
		height: 1300px;
		width: 400px;
		margin-left: -200px;
		margin-top: -350px;
		overflow: hidden;
	}

}